:local(.rootClass)
  position: fixed
  top: 2em
  right: 2em
  border: 1px solid #999
  border-radius: 3px
  padding: 2px
  background-color: #fff
  width: 420px
  box-shadow: 0 2px 1px rgba(0,0,0,0.05)

  // Enabling animations
  transition: opacity 0.4s ease-out, transform 0.4s ease-out
  display: block
  opacity: 1
  transform: translateY(0em)
  &.disabled
    z-index: -9999
  &.hidden
    transition: opacity 0.2s ease-out, transform 0.2s ease-out
    opacity: 0
    transform: translateY(-0.25em)  

  *
    margin: 0
    padding: 0
    outline: 0
    color: inherit
    font-family: 'Exo 2'
    box-sizing: border-box

  h1,h2,h3,h4
    color: #f7f7f7
    font-family: 'Exo 2'
    margin-bottom: 0.5em
    font-weight: 700

  .clearfix
    clear: both

  .container
    overflow: hidden
    font-size: 14px
    width: 30em
    min-height: 32em
    background-image: url('../../assets/background.png')
    // For preloading
    &>*
      transition: opacity 0.2s ease-out
    &>.spinner
      opacity: 0
    &.loading>*
      opacity: 0
    &.loading>.spinner
      opacity: 1
    &.error>*
      filter: grayscale(1) blur(2px)
    &.error>.error-message
      filter: grayscale(0)

