:local(.rootClass)
  .notification
    position: absolute
    z-index: 1
    box-shadow: 0 0 3px rgba(0,0,0,.05)
    height: 3em
    width: 420px
    transition: 0.2s all ease-out
    overflow: hidden
    background-image: url('../../assets/button-bg.svg')
    background-color: #fc2
    background-size: cover
    color: #fff
    font-weight: 600
    font-size: 1.2em
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75)
    &.hidden
      padding: 0 1em 0 1em
      height: 0
    .message
      float: left
    .clear
      float: right
      cursor: pointer
